extends layout

block content
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    label(for="msg")
      | Opis
    br
    input(type="text" id="msg" name="message")
    br
    input(type="submit", value="Dodaj")
